1. What are data structures, and why are they important?
Ans :- Data structures are formats used to store and organize data for efficient access and modification. They're crucial because they directly impact the performance and complexity of algorithms and applications.

2.Explain the difference between mutable and immutable data types with example?
Ans :- Mutable: The Data Types that can be changed after creation.
Example: list = [1, 2, 3] ‚Üí list[0] = 100

Immutable: The Data Types that cannot be changed after creation.
Example: tuple = (1, 2, 3) ‚Üí tuple[0] = 100 ‚ùå (raises error)

3.What are the main differences between lists and tuples in Python?
Ans :-
     Lists: Lists are Mutable Data Type which is denoted by "[]" like
     [1,2,3] and they are Slightly Slower in Performance Because of its Dynamic Mutable Ebility.
     Tuple: Tuples are Immutable Data Type which is denoted by "()" Like
     (1,2,3) and they are Slightly faster in Performance Because of its Fixed Immutable Ebility.

4.Describe how dictionaries store data?
Ans :- Dictionaries store data as key-value pairs using a hash table. Each key is hashed to a location in memory where its value is stored, enabling fast access.

5.Why might you use a set instead of a list in Python?
Ans :- We use set for
To eliminate duplicates automatically
To perform fast membership tests (e.g., x in my_set is faster than in a list)

6.What is a string in Python, and how is it different from a list?
Ans :- A string is an immutable sequence of characters, e.g., "hello".
A list is a mutable sequence of elements, e.g., [1, 2, "a"].
Strings cannot be modified directly, while lists can.        

7.How do tuples ensure data integrity in Python?
Ans :- Tuples are immutable, meaning their content cannot be changed. This guarantees that once data is stored in a tuple, it remains constant‚Äîideal for fixed data structures or keys in dictionaries.

8.What is a hash table, and how does it relate to dictionaries in Python?
Ans :- A hash table maps keys to values using a hash function. In Python, a dictionary is implemented using a hash table, allowing O(1) average-case time complexity for lookups.

9.Can lists contain different data types in Python?
Ans :- Yes. Python lists are heterogeneous, meaning they can hold multiple data types:
Example: [1, "two", 3.0, [4]]

10.Explain why strings are immutable in Python?
Ans :- Strings are immutable because to :
Ensure data consistency
Enable safe sharing across threads or functions
Improve performance (they can be interned or cached)

11.What advantages do dictionaries offer over lists for certain tasks?
Ans :- The Advantages dictionaries offer over lists are :
Faster lookup by key (O(1) vs O(n))
More meaningful access (e.g., user["name"] vs user[0])
Ideal for structured, key-value data

12.Describe a scenario where using a tuple would be preferable over a list?
Ans :- When storing GPS coordinates (lat, long) or RGB color values (255, 255, 255), use tuples to indicate the values should not change and ensure hashability for use as dictionary keys.

13.How do sets handle duplicate values in Python?
Ans :- Sets automatically discard duplicates directly.
Example: set([1, 2, 2, 3]) ‚Üí {1, 2, 3}

14.How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?
Ans :- x in list ‚Üí Checks if x is a value in the list (O(n))
x in dict ‚Üí Checks if x is a key in the dictionary (O(1) average)

15.Can you modify the elements of a tuple? Explain why or why not?
Ans:- No. Tuples are immutable. Once created, their contents cannot be changed, which is by design to ensure stability and hashability.

16.What is a nested dictionary, and give an example of its use case?
Ans:- A nested dictionary is a dictionary inside another dictionary.
Example:
student = {
  "name": "Shiva",
  "grades": {"math": 90, "science": 95}
}
Its Use case: Representing structured data like JSON or database records.

17.Describe the time complexity of accessing elements in a dictionary?
Ans:- The time complexity of accessing elements in a Python dictionary is:
üîπ Average Case: O(1)
Accessing an element by key (e.g., my_dict["key"]) is typically constant time.
This efficiency is due to the hash table implementation, which allows direct indexing based on a key's hash value.
üî∏ Worst Case: O(n)
In rare cases (e.g., hash collisions or poorly designed hash functions), multiple keys may hash to the same index.
Usually in python Despite the worst-case possibility, Python‚Äôs dictionary performance is generally very fast and reliable for lookups.

18.In what situations are lists preferred over dictionaries?
Ans:-The Situations Where we prefer Lists over dictionaries are basically:
When maintaining ordered sequences
When keys aren‚Äôt needed
For index-based access or iteration

If you need key-based access, labeled data, or fast lookups, a dictionary is better. Otherwise, lists are the go-to for sequential and positional data.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans:- Prior to Python 3.7, dictionaries were unordered by specific. Since 3.7 version of python, they preserve insertion order, but order should not be relied upon for logic unless explicitly intended. Retrieval is by key, not position.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
Ans :-The difference of the process of data Retrieval in both lists and dictionaries are like :
List: Retrieve by index (e.g., list[0])
Dictionary: Retrieve by key (e.g., dict["name"])
This makes dictionaries better for named data, and lists better for ordered sequences.

In [2]:
#1 Write a code to create a string with your name and print it.

my_name = "Shivanagendra"
print("My name is:", my_name)

My name is: Shivanagendra

In [3]:
#2 Write a code to find the length of the string "Hello World"


text = "Hello World"
length = len(text)
print("Length of the string:", length)

#Note: In the Length of the String len() includes or considers "space" as a term/Char/Element.

Length of the string: 11

In [4]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"


text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters:", sliced_text)

#Note : The slice text[:3] returns characters from index 0 up to (but not including) index 3.

First 3 characters: Pyt

In [5]:
#4  Write a code to convert the string "hello" to uppercase.

text = "hello"
uppercase_text = text.upper()
print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [6]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [10]:
#6 Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
print("Numbers list:", my_list)

Numbers list: [1, 2, 3, 4, 5]

In [11]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1, 2, 3, 4]
my_list.append(10)
print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 10]

In [12]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

In [13]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("Second element:", second_element)

Second element: b

In [14]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [50, 40, 30, 20, 10]

In [15]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [18]:
#12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print("Second-to-last element:", second_to_last_element)

Second-to-last element: blue

In [19]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print("Minimum number:", minimum_number)

Minimum number: 5

In [20]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
cat_index = my_tuple.index('cat')
print("Index of 'cat':", cat_index)

Index of 'cat': 1

In [22]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [23]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'c', 'b', 'a'}

In [24]:
#17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Cleared set:", my_set)

Cleared set: set()

In [25]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

numbers = {1, 2, 3, 4}
numbers.remove(4)
print("Updated set:", numbers)

Updated set: {1, 2, 3}

In [26]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)
# Note we can use Union_of_set = set1 | set2 command also for the union.

Union of sets: {1, 2, 3, 4, 5}

In [27]:
#20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

#Note : We can use intersection_of_set = set1 & set2 command also for intersedction

Intersection of sets: {2, 3}

In [29]:
#21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict = {
    "name": "Shivanagendra",
    "age": 24,
    "city": "Hyderabad"
}
print("Dictionary:", my_dict)

Dictionary: {'name': 'Shivanagendra', 'age': 24, 'city': 'Hyderabad'}

In [30]:
#22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [31]:
#23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print("Value associated with 'name':", name_value)

Value associated with 'name': Alice

In [32]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [33]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [37]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4]
my_tuple = (10, 20, 30)
my_dict = {'name': 'Shiva', 'age': 25}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4]
(10, 20, 30)
{'name': 'Shiva', 'age': 25}

In [38]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list:", random_numbers)

Sorted list: [20, 38, 46, 56, 69]

In [41]:
#28  Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "orange", "elderberry"]
third_element = my_list[2]
print("Element at index 2:", third_element)

Element at index 2: cherry

In [45]:
#29 Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = dict1 | dict2 # We can use {**dict1, **dict2} also insted
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
#30 Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "cherry", "banana", "watermelon"]
my_set = set(my_list)
print("Set:", my_set) #while converting list to set it automatically eliminates dupilicate values.

Set: {'banana', 'cherry', 'apple', 'watermelon'}